[Unit]
Description=Startup service
After=sshd.service ttyd.service

[Service]
Type=oneshot
ExecStart=/utils/startup.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target